<?xml version="1.0" encoding="utf-8"?>
<widget dockable="yes" network="public">
  <widgetname>Weather Forecast</widgetname>
  <description>
    Weather forecast for cities of the world
  </description>
  <id>
    <host>my.opera.com</host>
    <name>Weather Forecast</name>
    <revised>2008-02-16</revised>
  </id>
  <width>240</width>
  <height>264</height>
  <icon>favicon.png</icon>
  <author>
    <name>Opera widgets</name>
    <link>http://widgets.opera.com</link>
    <organization>Opera Software ASA</organization>
  </author>
</widget>
