<VirtualHost *:80>
		ServerName local.mynewproject
		DocumentRoot "C:/Program Files/xampp/htdocs/mynewproject/"

		<Directory "C:/Program Files/xampp/htdocs/mynewproject/">
		
			Order allow,deny
			Allow from all
			AllowOverride All
		
			RewriteEngine on
			#RedirectMatch ^admin/?(.*)? http://devadmin.mynewproject.com/$1
			RewriteRule ^((?!index|public).*) index.php/$1/%{QUERY_STRING}	[L]

			SetEnv APP_CONTEXT local
		
		</Directory>
		
		Include conf/extra/vhosts/performances.conf
		Include conf/extra/vhosts/security.conf
		Include conf/extra/vhosts/tweaks.conf

</VirtualHost>