<VirtualHost *:80>
		ServerName admin.mynewproject.com
		DocumentRoot "/var/www/mynewproject/"

		<Directory "/var/www/mynewproject/">
		
			Order allow,deny
			Allow from all
			AllowOverride All
		
			RewriteEngine on
			#RedirectMatch ^/admin/?(.*)? http://admin.mynewproject.com/$1
			RewriteRule ^((?!index|public).*) index.php/admin/$1/%{QUERY_STRING}	[L]

			SetEnv APP_CONTEXT prod
		
		</Directory>
		
		Include conf/vhosts/performances.conf
		Include conf/vhosts/security.conf

</VirtualHost>