.resourceAPIBlock {  }
.resourceAPIBlock h4 { font-size:100%; }
.resourceAPIBlock .method { margin-right:10px; }
.resourceAPIBlock .resourceURI { display:inline-block; font-weight:bold; }
.resourceAPIBlock .summary { display:block; }
.resourceAPIBlock .expectedInputData dl { margin-bottom:0; display:inline-block; vertical-align:top; }
.resourceAPIBlock .possibleErrors dl { max-width:380px; vertical-align:top; }
.resourceAPIBlock .possibleErrors dt,
.resourceAPIBlock .possibleErrors dd { display:inline-block; vertical-align:top; }
.resourceAPIBlock .possibleErrors dt { width:40%; clear:both; }
.resourceAPIBlock .possibleErrors dd { width:58%; } 
.resourceAPIBlock li { margin-bottom:0.5em; padding-top:10px; }
.resourceAPIBlock .prop { margin:0 0 0 30px; padding:2px 0; border-bottom:1px dashed #ddd; color:#7F7F7F; }
.resourceAPIBlock .prop > .key { width:120px; display:inline-block; font-weight:bold; vertical-align:top; text-transform:capitalize; }
.resourceAPIBlock .prop > .val { max-width:450px; margin-bottom:0; display:inline-block; }
.resourceAPIBlock .sampleURI a { display:block; color:#7F7F7F; }
#apiBox .resourceAPIBlock { margin:0; padding:0; border:1px solid black; border-top:0; }
#apiBox .resourceAPIBlock:first-of-type,
#apiBox .resourceAPIBlock.first { border-top:1px solid; }
#apiBox .resourceAPIBlock h3 { margin-bottom:0; padding:5px 10px; background:gray; }
#apiBox .resourceAPIBlock h3:before { width:12px; margin-right:10px; padding:2px; display:inline-block; content:'+'; background:white; color:black; text-align:center; }
#apiBox .resourceAPIBlock h3[class*=ui-state-active]:before { content:'-'; }
#apiBox .commonParams dl { margin:0 10px 20px; }
#apiBox .commonParams dt { display:inline-block; clear:left; vertical-align:top; font-size:109%; font-weight:bold; }
#apiBox .commonParams dd { padding:0 10px; display:inline-block; vertical-align:top; }

.api form .line.disabled { display:none; }