


.notificationsBlock { }
.notificationsBlock .buttonsLine { text-align:right; }
.notification { margin:0 0 1.5em; padding:4px 10px; clear:both; border:2px solid; text-align:center; }
.notification.success { background:#696; border-color:#090; color:#fff; }
.notification.error { background:#C30; border-color:#C00; color:#fff; }
.notification.warning { background:#FC3; border-color:#F90; color:#fff; }
.notificationsBlock ul { margin-bottom:0.2em; padding:5px 0; }
.notificationsBlock ul.errors,
.notificationsBlock > .notification.error { background:#C30; border:2px solid #C00; }
.notificationsBlock .notification { margin:0 0 0.2em; padding:5px 0 5px 10px; position:relative; border:none; text-align:left; cursor:pointer; }
.notificationsBlock li.notification { padding:0 0 0 10px; list-style-position:inside; }
.notificationsBlock li.notification:last-child { margin-bottom:1em; }
.notificationsBlock li.notification:last-child:only-child { margin-bottom:0; }
.notificationsBlock .notification:after { width:10px; height:10px; margin-top:-5px; display:inline-block; content:''; position:absolute; right:10px; top:50%; background-repeat:no-repeat; background-position:50% 50%; background-size:contain; }
.notificationsBlock .notification:after { background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAQAAACRZI9xAAAAhElEQVR4Xn3PQQ3AIAxGYRxMChImYRKQMgmTgISd/9MkTAoSWAiEt67JyoGk+ZKXhj5KisGMFu3tB1QVRQNuVeU3qBMB6kDaGgABxjuCoopBK2DmQTyb9sgDizwArR+SAJz5kwF45IFHAJZJ5YOU7cJdd5Gh/Ua3lpECgDrgonMC0NnBA4wANzgA8S65AAAAAElFTkSuQmCC"); }
div.notification p { margin:0; }


div.actionBtn { padding:0; border:none; background:none; }


.tableWrapperBlock { max-width:100%; }
.commonTable { margin-bottom:0; border-collapse:separate; }
.commonTable caption { margin-bottom:2px; padding:5px 0; background:#000; color:#fff; font-weight:bold; }
.commonTable tbody tr:hover th,
.commonTable tbody tr:hover td,
.commonTable tbody tr.odd:hover td,
.commonTable tbody tr.even:hover td { background:#CCE7FC; }
.commonTable tbody tr.ui-selected th,
.commonTable tbody tr.ui-selected td { background:#E0E8A4; }
.commonTable thead th { padding:3px 0; border-left:1px solid white; border-right:1px solid black; border-bottom:1px solid #BBBBBB; vertical-align:middle; }
.commonTable thead td { border-left:1px solid white; border-right:1px solid black; border-bottom:1px solid #BBBBBB; }
.commonTable tbody td.actionsCol .adminLink { margin-right:5px; }
.commonTable tbody td.actionsCol .adminLink:last-child { margin-right:0; }
.commonTable .colSelectResources input[type="checkbox"] { margin:0 auto; vertical-align:middle; }
.commonTable th .title .subTitle { }
.commonTable tbody tr.ui-selected th,
.commonTable tbody tr.ui-selected td { background:#E0E8A4; }
.commonTable tbody td > .value { display:inline-block; }
.commonTable .resourcesCount { margin-right:5px; text-align:right; }
.commonTable tbody td.typeInt.typeRel { text-align:left; }
.commonTable tbody td.dataCol .value > input { background:none; border:1px solid transparent; font-size:100%; font-family:inherit; color:inherit; vertical-align:middle; }
.commonTable tbody td.dataCol .dataValue.focus,
.commonTable tbody td.dataCol .dataValue:focus { outline:1px dotted #000; }
.commonTable tbody td.dataCol.typeVarchar .dataValue:hover,
.commonTable tbody td.dataCol.typeInt .dataValue:hover,
.commonTable tbody td.dataCol.typeBool .dataValue:hover { background:#FFC; cursor:text; }
.commonTable tbody td.dataCol.typeInt.typeRel .dataValue:hover { background:transparent; }
.commonTable tbody td.dataCol.ui-inlineedit-active .dataValue { display:none; }
.commonTable tbody td.dataCol.ui-inlineedit-active input:focus { outline:1px dotted #000; }
.commonTable tbody td.dataCol.ui-inlineedit-active button:before { outline:none!important; }
