body { font:81.25% / 1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; }

a:focus { outline:1px dotted invert; }
hr { height:0; clear:both; border:1px solid #ccc; border-width:1px 0 0; }

/* =Headings */
h1 { font-size:36px; }
h2 { font-size:24px; }
h3 { font-size:21px; }
h4 { font-size:18px; }
h5 { font-size:16px; }
h6 { font-size:14px; }

/* =Spacing */
ol { list-style:decimal; }
ul { list-style:square; }
li { /*margin-left:30px;*/ }

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset { margin-bottom:20px; }