<?xml version="1.0" encoding="utf-8"?>
<plugin name="XHR Throttler">
	
	<script src="xhr_throttler.js"></script>
	
	<ui>
		<var title="Online" type="boolean" name="is_online" onchange="onOnlineChange" remember="true" />
		<var title="Connections" type="output" name="activeRequests.length" />
		<var title="XHR Speed" type="select" name="speed" remember="true">
			<option type="number"  value="0" title="Unrestricted" />
			<option type="number"  value="16384" title="16 kbps" />
			<option type="number"  value="65536" title="64 kbps" />
			<option type="number"  value="262144" title="256 kbps" />
		</var>
	</ui>
	
</plugin>