<?xml version='1.0' encoding='UTF-8'?>
<widget dockable="yes" network="public">
  <widgetname>Bubbles</widgetname>
  <description>A Bubbles game</description>
  <icon>icon_64.png</icon>
  <width>240</width>
  <height>320</height>
  <author>
    <name>Mathieu Henri, Gautam Chandna, Christian Mangnus Sinding-Larsen, Opera Software ASA</name>
  </author>
  <id>
    <name>Bubbles</name>
    <revised>2006-07-26</revised>
  </id>
</widget>
