<?xml version="1.0" encoding="utf-8"?>
<widget network="private public">
  <widgetname>Widget Emulator</widgetname>
  <description>Emulate widgets for desktop, tv and mobile. Version 1.02</description>
  <width>600</width>
  <height>400</height>
  <icon>emulator_files/img/favicon.png</icon>
  <author>
    <name>Opera Widgets</name>
    <link>http://www.opera.com/</link>
    <organization>Opera Software ASA</organization>
  </author>
  <id>
    <host>http://widgets.opera.com/</host>
    <name>widgetEmulator</name>
    <revised>2008-12</revised>
  </id>
</widget>